<section class="card" id="{{post_id}}">
    <div class="card-head">
        Commented by {{user.username}} at {{format_date updatedAt}}
    </div>
    <div class="card-body">
        {{comment_text}}
    </div>
</section>