<link rel="stylesheet" href="/css/createpost.css">
<div class="new-post-box">
    <h2>+ New Post</h2>
    <form id="new-post-form">
        <label for="title">Title:</label><br>
        <input type="text" id="title" class="title" name="title"><br>
        <label for="new-post">Body:</label><br>
        <textarea id="new-post" name="new-post"></textarea>
        <input type="submit" class="submit">
    </form>
</div>
<script src="/js/createpost.js"></script>