<section class="dashboard">
    <h2 class="dashboard-head">Welcome to your space!</h2>
    <p class="subtitle">View your Posts </p>
    <div class="posts">
        {{#each posts}}
        {{> dashboardPostDetails}}
        {{/each}}
    </div>
</section> 



