<link rel="stylesheet" href="/css/editpost.css">
<main class="edit-post-box">
  <h2>Edit Post</h2>
  <form id="edit-post-form">
      <label for="title-update">Title</label><br>
      <input type="text" id="title-update" value="{{title}}"><br>
      <label for="content-update" >Content</label><br>
      <textarea id="content-update" name="content-update">{{content}}</textarea>
      <input type="submit" id="update-post" class="submit">
      <input type="button" id="delete-post" class="button">
  </form>
</main>
<script src="/js/editPost.js"></script>


