/* Styling for creating new post or comment */
.new-post-box{
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    background-image: url('/images/mealprep.png');
}

/* Styling for the forms */
#new-post-form, #new-comment-form{
    border: 3px solid var(--dark-blue);
    /* background-color:  */
    margin: 2%;
}
#new-post-form{
    padding: 7%;
}
#new-comment-form{
    padding: 2%;
}
#new-post-form label{
    font-size: 24px;
    color: whitesmoke;
}
#new-post-form .title{
    width: 100%;
    margin-bottom: 5%;
    padding: 1%;
    border: 1px solid black;
}
#new-post-form textarea, #new-comment-form textarea{
    width: 100%;
    padding: 2%;
    border: 1px solid black;
}
#new-post-form textarea{
    height: 25%;
    margin-bottom: 5%;
}
#new-comment-form textarea{
    height: 10%;
    margin-bottom: 2%;
}

/* styling applied to the comment button  */
.submit-comment{
    width: 10%;
    padding: 1%;
    margin-right: 45%;
    margin-left: 45%;
}