/* Global styles */
.card-title:hover,
.card-options p:hover {
  cursor: pointer;
  color: var(--accent-color);
}

body {
  background: rgb(245, 245, 245);
  background: radial-gradient(
    circle,
    rgba(245, 245, 245, 1) 35%,
    rgb(255, 242, 230) 100%
  );
}

/* Card styles */
.card {
  max-width: 600px;
  height: auto;
  margin: 2.5% auto;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: hidden;
}

.card-body {
  padding: 1%;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  color: var(--dark-accent-color);
}

.card-head h3 {
  margin: 0;
  font-size: 28px;
}

.card-head p {
  margin: 0;
  padding-top: 0.5%;
}

.card-options {
  display: flex;
  justify-content: flex-end;
}

.card-options p {
  margin-left: 6%;
}

.dashboard {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 2%;
}

.posts {
  width: 100%;
}
