/* Global styles */
.card-title:hover,
.card-options p:hover {
  cursor: pointer;
  color: var(--accent-color);
}

body {
  background: rgb(245, 245, 245);
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 35%,
    rgb(254, 229, 224) 100%
  );
}

/* Card styles */
.card {
  max-width: 600px;
  height: auto;
  margin: 2.5% auto;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  overflow: hidden;
}

.card-body {
  padding: 1%;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  color: var(--dark-accent-color);
}

.card-head h3 {
  margin: 0;
  font-size: 28px;
}

.card-head p {
  margin: 0;
  padding-top: 0.5%;
}

.card-options {
  display: flex;
  justify-content: flex-end;
}

.card-options p {
  margin-left: 6%;
}

.dashboard {
  width: 86%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 2%;
  margin-bottom: 12%;
}

.posts {
  width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .card {
    max-width: 90%; /* Adjust card width for smaller screens */
    margin: 5% auto; /* Center card on smaller screens */
  }

  .dashboard {
    width: 90%; /* Adjust dashboard width for smaller screens */
    margin-left: 5%; /* Center dashboard on smaller screens */
    margin-right: 5%;
    margin-bottom: 15%;
  }
}
